/*
- Mobile: 375px
- Desktop: 1440px

- Font size: 15px

- Weights: 200, 400, 600

- font-family: 'Poppins', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/*    Var    */

:root{
    /*Primary*/
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    
    /*Neutral*/
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

/*    Geral    */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--Very-Light-Gray);
}

/*    Title Part    */

.title--card{
    width: 80vw;
    text-align: center;
    margin: 10% auto;
}

.title--card__h1{
    font-weight: 200;
    color: var(--Very-Dark-Blue);
    font-size: 25px;
}

.title--card__h2{
    color: var(--Very-Dark-Blue);
    font-weight: 600;
}

.title--card__p{
    margin-top: 10px;
    color: var(--Grayish-Blue);
}

/*    Card Part    */

img{
    width: 20%;
}

.cards{
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
}

.cards--supervisor{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    padding: 25px;
    border-radius: 10px;
    border-top: 4px solid var(--Cyan);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(138,138,138,0.68);
    -moz-box-shadow: 0px 0px 20px 0px rgba(138,138,138,0.68);
    box-shadow: 0px 0px 20px 0px rgba(138,138,138,0.68);
}

.cards--supervisor__title{
    font-weight: 600;
    color: var(--Very-Dark-Blue);
}

.cards--supervisor__content{
    width: 90%;
    color: var(--Grayish-Blue);
}

.cards--supervisor__img{
    align-self: flex-end;
    margin: 10%;
}

.cards--supervisor:hover{
    width: 410px;
    height: 260px;
}

.cards--teambuilder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    border-top: 4px solid var(--Red);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(138,138,138,0.68);
    -moz-box-shadow: 0px 0px 20px 0px rgba(138,138,138,0.68);
    box-shadow: 0px 0px 20px 0px rgba(138,138,138,0.68);
}

.cards--teambuilder__title{
    color: var(--Very-Dark-Blue);
    font-weight: 600;
}

.cards--teambuilder__content{
    width: 90%;
    color: var(--Grayish-Blue);
}

.cards--teambuilder__img{
    margin: 10%;
    align-self: flex-end;
}

.cards--teambuilder:hover{
    width: 410px;
    height: 260px;
}

.cards--karma{
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    border-top: 4px solid var(--Orange);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(138,138,138,0.68);
    -moz-box-shadow: 0px 0px 20px 0px rgba(138,138,138,0.68);
    box-shadow: 0px 0px 20px 0px rgba(138,138,138,0.68);
}

.cards--karma__title{
    color: var(--Very-Dark-Blue);
    font-weight: 600;
}

.cards--karma__content{
    width: 90%;
    color: var(--Grayish-Blue);
}

.cards--karma__img{
    align-self: flex-end;
    margin: 10%;
}

.cards--karma:hover{
    width: 410px;
    height: 260px;
}

.cards--calculator{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    padding: 25px;
    border-radius: 10px;
    border-top: 4px solid var(--Blue);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(138,138,138,0.68);
    -moz-box-shadow: 0px 0px 20px 0px rgba(138,138,138,0.68);
    box-shadow: 0px 0px 20px 0px rgba(138,138,138,0.68);
    margin-bottom: 10%;
}

.cards--calculator__title{
    color: var(--Very-Dark-Blue);
    font-weight: 600;
}

.cards--calculator__content{
    color: var(--Grayish-Blue);
    width: 90%;
}

.cards--calculator__img{
    align-self: flex-end;
    margin: 10%;
}

.cards--calculator:hover{
    width: 410px;
    height: 260px;
}