/*
- Mobile: 375px
- Desktop: 1440px

- Weights: 400, 700
*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --Text-Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Text-Soft-red: hsl(14, 88%, 65%);

    --Background-Soft-violet: hsl(273, 75%, 66%);
    --Background-Soft-blue: hsl(240, 73%, 65%);

    --Neutral-Text-Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Neutral-Text-Dark-grayish-blue: hsl(240, 6%, 50%);

    --Extra-Light-grayish-blue: hsl(240, 5%, 91%);
}

body{
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%)) fixed no-repeat;
}

.card{
    height: 80vh;
    width: 70vw;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 4.5% auto;
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.card--left{
    width: 50%;
    position: relative;
    overflow-x: hidden;
}


.card--left__img__box{
    position: absolute;
    left: 112px;
    top: 265px;
    z-index: 4;
}

.card--left__img__woman{
    left: -78px;
    position: relative;
    z-index: 2;
}

.card--left__img__shadow{
    z-index: 0;
    position: absolute;
    height: auto;
    left: -60%;
    top: -60%;
}

.card--right{
    width: 40%;
    margin-right: 10%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.card--right__box__question{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.568);
    cursor: pointer;
}

.card--right__box__question__title{
    color: var(--Neutral-Text-Very-dark-grayish-blue);
    font-weight: 400px;
    font-size: 17px;
}

.card--right__title{
    font-size: 35px;
    color: var(--Text-Very-dark-desaturated-blue);
    margin-bottom: 20px;
}

.card--right__box__question__img{
    width: 15px;
    height: 15px;
}

.card--right__box__answer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 15px;
    font-weight: 400;
    color: var(--Neutral-Text-Dark-grayish-blue);
    cursor: pointer;
    position: relative;
    top: -15px;
    padding-top: 5px;
    background-color: white;
    z-index: 50;
}

.card--right__box__answer__img{
    width: 15px;
    height: 15px;
    transform: rotate(180deg);
    z-index: 99;
}

.hidden{
    display: none;
}

.esconder{
    display: none;
}

.activeQuestions{
    color: var(--Text-Very-dark-desaturated-blue);
    font-weight: 700;
    font-size: 19px;
}

.noBorder{
    border: none;
}